/* Exercise 1 */
.ex-1-square {
    transition: all 3s;
}

.ex-1-square:hover {
    background-color: red;
}

/* Exercise 2 */
.ex-2-square {
    transition: all 3s;
}

.ex-2-square:active {
    width: 100%;
}

/* Exercise 3 */
.ex-3-square {
    transition: all 3s;
}

.ex-3-square:hover {
    border-radius: 50%;
}