/* Exercise 1 */
.ex-1-square {
    transition: all 3s;
}

.ex-1-square:hover {
    background-color: red;
}

/* Exercise 2 */
.ex-2-square {
    transition: all 3s;
}

.ex-2-square:active {
    width: 100%;
}

/* Exercise 3 */
.ex-3-square {
    transition: all 3s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* Exercise 4 */
.ex-4-square {
    transition: all 3s;
}

.ex-4-square:hover {
    background-color: #f5f5f5;
}

/* Exercise 5 */
.ex-5-square {
    transition: all 3s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}

/* Exercise 6 */
.ex-6-img {
    transition: all;
}

.ex-6-img:hover {
    filter: grayscale(1);
}

/* Exercise 7 */
.ex-7-img {
    transition: all 3s;
}

.ex-7-img:hover {
    filter: grayscale(0.5);
    filter: sepia(0.5);
}

/* Exercise 8 */
.ex-8-img {
    transition: all 3s;
}

.ex-8-img:hover {
    filter: grayscale(0.7);
    filter: sepia(0.7);
    border-radius: 25px;
}

/* Exercise 9 */
.ex-9-img {
    transition: all 3s;
}

.ex-9-img:hover {
    filter: grayscale(0.8);
    filter: sepia(0.8);
    border-radius: 25px;
    transform: scale(1.5);
}

/* Exercise 10 */
.ex-10-icon {
    animation: animation-10 1s linear infinite;
}

@keyframes animation-10 {

    0% {
        transform: rotate(360deg);
    }

}

/* Exercise 11 */
.ex-11-icon:hover {
    animation: animation-11 5s infinite;
}

@keyframes animation-11 {

    75% {
        transform: rotate(270deg);
    }

    85% {
        transform: rotate(0);
    }
}

